<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <title>Shoe Stores</title>
        </head>
    <body>
        <h1 class="header">This is <span class="emphasis">{{ brand.getBrandName }}</span>!</h1>
        <div class="container">
            {% if stores is not empty %}
                <h1>Here are all of the stores entered that carry {{ brand.getBrandName }}:</h1>
                <h3>Click to see an individual store and what brands it carries.</h3>
                {% for store in stores %}
                    <li><a href="/store_brands/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                {% endfor %}
            {% else %}
                <h2>There are no stores entered that carry {{ brand.getBrandName }} yet</h2>
            {% endif %}

            <div class="row">
                <div class="col-sm-6">
                    <div class="well add_object">
                        <h2 class="text-center">Add a store to {{ brand.getBrandName }}:</h2>
                        <form action="/brand_add_store/{{ brand.getId }}" method="post">
                            <div class="form-group">
                                <label for="store_id">Store Name:</label>
                                <select id="store_id" name="store_id">
                                    <option></option>
                                    {% for store in all_stores %}
                                        <option name="store_id" value="{{ store.getId }}">{{ store.getStoreName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-info" type="submit">Add Store</button>
                        </form>
                        <h4><a href="/stores">Click</a> to add a store if you do not see it in the list here.</h4>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="well update_object">
                        <h2 class="text-center">Update {{ brand.getBrandName }}</h2>
                        <form action="/brand_udpate/{{ brand.getId }}" method="post">
                            <input type="hidden" name="_method" value="patch">
                            <div class="form-group">
                                <label for="brand_name">Brand Name:</label>
                                <input id="brand_name" name="brand_name" value="{{ brand.getBrandName }}" type="text" required>
                            </div>

                            <div class="form-group">
                                <label for="price">Price:</label>
                                <input id="price" name="price" value="{{ brand.getPrice }}" required>
                            </div>

                            <div class="form-group">
                                <label for="available">Available:</label>
                                <input id="available" name="available" value="{% if brand.getAvailable == 1 %} yes {% endif %} {% if brand.getAvailable == 0 %} no {% endif %}" required>
                            </div>
                            <button class="btn btn-warning">Update Brand</button>
                        </form>
                    </div>
                </div>
            </div>

            <form action="/brand_delete/{{ brand.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button class="btn btn-danger">Delete This Brand</button>
            </form>

            <h3><a href="/brands">Go to All Brands</a></h3>
            <h3><a href="/">Home</a></h3>
        </div>
    </body>
</html>
