<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <title>Shoe Stores</title>
        </head>
    <body>
        <h1 class="header">Welcome to <span class="emphasis">{{ store.getStoreName }}</span>!</h1>
        <div class="container">
            {% if brands is not empty %}
                <h1>Here are all of the shoe brands entered for {{ store.getStoreName }}:</h1>
                <h3>Click to see an individual shoe brand and what stores have it.</h3>
                {% for brand in brands %}
                    <li><a href="/brand_stores/{{ brand.getId }}">{{ brand.getBrandName }}, priced at ${{ brand.getPrice }}</a></li>
                {% endfor %}
            {% else %}
                <h2>There are no shoe brands entered for {{ store.getStoreName }} yet</h2>
            {% endif %}

            <div class="row">
                <div class="col-sm-6">
                    <div class="well update_object">
                        <h2 class="text-center">Update {{ store.getStoreName }}</h2>
                        <form action="/store_update/{{ store.getId }}" method="post">
                            <input name="_method" type="hidden" value="patch">
                            <div class="form-group">
                                <label for="store_name">Store Name</label>
                                <input id="store_name" name="store_name" value="{{ store.getStoreName }}" required>
                            </div>
                            <button class="btn btn-warning">Update Store</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well add_object">
                        <h2 class="text-center">Add a shoe brand to {{ store.getStoreName }}:</h2>
                        <form action="/store_add_brand/{{ store.getId }}" method="post">
                            <div class="form-group">
                                <label for="brand_id">Shoe Brand Name:</label>
                                <select id="brand_id" name="brand_id">
                                    <option></option>
                                    {% for brand in all_brands %}
                                        <option name="brand_id" value="{{ brand.getId }}">{{ brand.getBrandName }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button class="btn btn-info" type="submit">Add Brand</button>
                        </form>
                        <h4><a href="/brands">Click</a> to add a brand if you do not see it in the list here.</h4>
                    </div>
                </div>


            </div>

            <form action="/store_delete/{{ store.getId }}" method="post">
                <input type="hidden" value="delete" name="_method">
                <button class="btn btn-danger">Delete This Store</button>
            </form>

            <h3><a href="/stores">See All Stores Entered</a></h3>
            <h3><a href="/">Home</a></h3>
        </div>
    </body>
</html>
